:root {
  --yellow: #f2ae1c;
  --green: #4c7031;
  --accent: #f2542d;
  --white: #fff;
  --navHeight: 15vh;
  --solid-font:"Cocogoose-Pro-Regular";
  --hollow-font:"Cocogoose-Pro-Block-Border";
  --inline-font:"Cocogoose-Pro-Inline";
}

/* @font-face {
  font-family: "Blackout-Midnight";
  src: url("/assets/Blackout-Midnight.ttf") format("truetype");
}
@font-face {
  font-family: "Blackout-Sunrise";
  src: url("/assets/Blackout-Sunrise.ttf") format("truetype");
} */

@font-face {
  font-family: "Cocogoose-Pro-Block-Border";
  src: url("/assets/cocogoose-pro.block-border.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Inline";
  src: url("/assets/cocogoose-pro.inline.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Regular";
  src: url("/assets/cocogoose-pro.regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  background-color: var(--yellow);
  color: var(--white);
  width: 100vw;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.disableScroll {
  height: 100vh;
  overflow:hidden;
}
.nav {
  /* box-shadow: 1px 4px 30px rgba(215, 213, 213, 0.434); */
  background-color: var(--yellow);
  position: sticky;
  z-index:2;
  top: 0;
  padding: 2em;
  width: 100vw;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.cta {
  color: var(--accent);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--green);
  font-size: 1.2rem;
  font-family: var(--inline-font);
  text-shadow: 10px #4c7031;
}

a:hover {
  font-family: var(--solid-font);
  font-weight: 700;

}
.home {
  display: flex;
  flex-direction: column;
}

.home,
.contact,
.projects {
  max-width: 600px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 375px;
  align-self: flex-end;
}

h1 {
  font-family: var(--solid-font), sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  margin: 0.3em -10px 0.3em 0;
  letter-spacing: 5px;
  position: relative;
}

.titleContainer h1 span:nth-child(2), .contact h1 span:nth-child(2) {
  color: var(--green);
}

.projects h1 {
  color: var(--green);
  position: relative;
}

.projects h1::after {
  content: "projects";
}

.titleContainer h1 span:nth-child(2)::after{
  content: "vasanji";
}

.contact h1 span:nth-child(2)::after{
  content: "hello!";
}

.titleContainer h1 span:nth-child(2)::after, .projects h1::after, .contact h1 span:nth-child(2)::after {
  position: absolute;
  right:6px;
  bottom:0;
  letter-spacing: 5px;
  font-weight: 100;;
  font-family: var(--hollow-font), sans-serif;
  color: var(--white);
}

.contact h1 {
  position: relative;
}

.titleContainer h1 {
  align-items: flex-end;
}

.titleContainer p {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.1em;
  color: var(--accent);
  margin-right: 0em;
  margin-top: -1.3em;
  text-transform: uppercase;
}

.about {
  margin: 0 1em;
  max-width: 600px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 0.8em;
  color: white;
}

.about span {
  color:var(--green);
  font-family: var(--solid-font);
  margin-top: -90px
}

/*==================    ICONS   ==================*/

.icons img {
  height: 60px;
  margin: 1em;
  border: 1px dashed var(--white);
  padding: 1em;
  border-radius: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

/*==================    CONTACT   ==================*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

input {
  background-color: var(--green);
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

input,
button[type="submit"] {
  margin-bottom: 1em;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
}

input[name="message"] {
  height: 30vh;
}

button[type="submit"] {
  font-family: var(--solid-font);
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 100;
  background-color: var(--accent);
  color: #ffffff;
  padding: 0.7em 1em;
}

/*==================    PROJECTS   ==================*/
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card .imageContainer,
.infoContainer {
  width: 50%;
  height: 100%;
}
.card {
  background-color: var(--green);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  height: 600px;
  padding: 1em;
}

.card .imageContainer,
.infoContainer {
  width: 100%;
}

@media screen and (min-width: 680px) {
  .card {
    flex-direction: row;
    height: 400px;
  }
}

.infoContainer,
.buttonContainer,
.techContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer {
  flex-direction: column;
}

.buttonContainer div {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.infoContainer {
  flex-direction: column;
}

.techContainer {
  flex-wrap: wrap;
}

.techContainer,
.buttonContainer {
  width: 80%;
}

.imageContainer {
  position: relative;
  border: 1px solid white;
  overflow: hidden;
}
.imageContainer img {
  width: 100%;
}
.infoContainer {
  background-color: var(--green);
}
.card h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  line-height: 33px;
  position: absolute;
  bottom: 10px;
  right: -0.3em;
  text-align: right;
  width: 200px;
  color: var(--accent);
}

.card button {
  border: none;
  padding: 0.8em 1em;
  border-radius: 20px;
  text-align: center;
  width: 90px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
  color: var(--accent);
  background-color: transparent;
  border: 3px solid var(--accent);
}

.card button span {
  font-weight: 700;
}

.cta {
  color: var(--accent);
}
