:root {
  --yellow: #f2ae1c;
  --green: #4c7031;
  --accent: #f2542d;
  --white: #fff;
  --brown: #dfab56;
  --grey: #575b56;
  --navHeight: 15vh;
  --solid-font: "Cocogoose-Pro-Regular";
  --hollow-font: "Cocogoose-Pro-Block-Border";
  --inline-font: "Cocogoose-Pro-Inline";
}
html {
  overflow-x: hidden;
}
/* @font-face {
  font-family: "Blackout-Midnight";
  src: url("/assets/Blackout-Midnight.ttf") format("truetype");
}
@font-face {
  font-family: "Blackout-Sunrise";
  src: url("/assets/Blackout-Sunrise.ttf") format("truetype");
} */

@font-face {
  font-family: "Cocogoose-Pro-Block-Border";
  src: url("/assets/cocogoose-pro.block-border.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Inline";
  src: url("/assets/cocogoose-pro.inline.ttf") format("truetype");
}
@font-face {
  font-family: "Cocogoose-Pro-Regular";
  src: url("/assets/cocogoose-pro.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Caroni-Regular";
  src: url("/assets/Caroni-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  background-color: var(--yellow);
  color: var(--white);
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 5em;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.disableScroll {
  height: 100vh;
  overflow: hidden;
}
.nav {
  /* box-shadow: 1px 4px 30px rgba(215, 213, 213, 0.434); */
  background-color: var(--yellow);
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 2em 2em 0 2em;
  width: 100vw;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.cta {
  color: var(--accent);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--green);
  font-size: 1rem;
  font-family: var(--inline-font);
  text-shadow: 10px #4c7031;
}

a:hover {
  font-family: var(--solid-font);
  font-weight: 700;
  color: var(--accent);
}

.home {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.home,
.contact,
.projects {
  max-width: 600px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 370px;
  align-self: flex-end;
  position: relative;
  right: 30px;
}

h1 {
  font-family: var(--solid-font), sans-serif;
  font-weight: 100;
  font-size: 2.8rem;
  line-height: 80px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  color: var(--white);
  margin: 0.3em -10px 0.3em 0;
  letter-spacing: 0px;
  position: relative;
}

.titleContainer h1 span:nth-child(2),
.contact h1 span:nth-child(2) {
  color: var(--green);
}

.projects h1 {
  font-size: 3rem;
  color: var(--yellow);
  position: relative;
}
.contact h1 {
  font-size: 5rem;
  flex-direction: column;
}

.projects h1::after {
  content: "projects";
}

.titleContainer h1 span:nth-child(2)::after {
  content: "vasanji";
}

.contact h1 span:nth-child(2)::after {
  content: "hello!";
}

.titleContainer h1 span:nth-child(2)::after,
.projects h1::after,
.contact h1 span:nth-child(2)::after {
  position: absolute;
  right: 4px;
  bottom: 0;
  letter-spacing: 0px;
  font-weight: 100;
  font-family: var(--hollow-font), sans-serif;
  color: var(--white);
}
.titleContainer h1 span:nth-child(2)::after {
  letter-spacing: 0px;
}
.contact h1 span:nth-child(2) {
  position: relative;
}

.titleContainer h1 {
  align-items: flex-end;
}

.titleContainer p {
  font-family: "Caroni-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent);
  margin-right: 0em;
  margin-top: -1.3em;
}

.about {
  width: 100%;
  max-width: 600px;
  font-size: 1rem;
  /* letter-spacing: 0.5px; */
  line-height: 1em;
  color: white;
  padding: 0 2em 0 1em;
}

.about span {
  color: var(--green);
  margin-right: 3px;
  font-weight: 500;
}

.about p a {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: underline;
  color: inherit;
}
.about p a:hover {
  color: var(--accent);
}

.landing {
  position: absolute;
  top: 0;
  min-height: 80vh;
  /* border:1px solid black */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*==================    ICONS   ==================*/

.icons img {
  height: 45px;
  margin: 0.2em;
  border: 1px dashed var(--white);
  padding: 0.2em;
  border-radius: 10px;
}

.icons {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 60px; position: absolute; top: 0; right: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* display:none */
}

.home div:nth-child(1) {
  position: relative;
}

.icons div {
  display: flex;
}

.titleContainer {
  margin-top: -50px;
  margin-left: 10px;
}

/* .womanSvg {
  transform: translateX(-80px);
} */
/*==================    CONTACT   ==================*/
.contact {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 1em;
}

input {
  background-color: var(--green) !important;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

input::placeholder {
  color: #ffffff;
}

input,
button[type="submit"] {
  margin-bottom: 1em;
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
}

input[name="message"] {
  height: 30vh;
}

button[type="submit"] {
  font-family: var(--solid-font);
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 100;
  background-color: var(--accent);
  transition: all 0.5s ease;
  color: #ffffff;
  padding: 0.7em 1em;
}

button:hover {
  cursor: pointer;
}

/*==================    PROJECTS   ==================*/
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.card {
  /* height: 500px; */
  width: 80%;
  border-bottom: 3px solid var(--white);
  margin-bottom: 2em;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}

.card img {
  width: 100%;
}

.card .buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.card .techContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  max-width: 90%;
}

.techContainer span {
  margin-right: 0.6em;
  margin-bottom: 0.4em;
  background-color: var(--white);
  color: var(--green);
  padding: 0.3em 0.5em;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.card h2 {
  font-family: var(--solid-font), sans-serif;
  font-size: 2rem;
  line-height: 33px;
  color: var(--white);
}
.card button {
  border: none;
  padding: 0.4em 0.6em;
  border-radius: 10px;
  text-align: center;
  /* min-width: 90px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em;
  background-color: var(--accent);
  transition: all 0.5s ease;
  color: var(--white);
  position: relative;
}

.card button a {
  color: var(--white);
}

.card .textContainer {
  background-color: #4c7031;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 1em 0.5em;
}

.card > a {
  margin-bottom: -10px;
}

.textContainer p {
  font-size: 1rem;
  margin: 1em 0;
}

.buttonContainer {
  align-items: flex-end;
}

.buttonContainer a {
  font-size: 0.8rem;
}

.cta {
  color: var(--accent);
}
button:hover {
  background-color: var(--green);
}

.heroContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5em;
  position: relative;
  right: 25px;
  /* overflow: hidden;
  align-self: flex-end; */
}

.icons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.projects {
  margin-top: 7em;
  background-color: #4c7031;
}
/*==================    PROJECTS   ==================*/

.resume {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  padding: 2em;
}

.resume a {
  font-family: unset;
  font-size: unset;
  color: unset;
  color: var(--accent);
  font-weight: 900; padding: 0 1em;
  border-right: 1px solid var(--green)
}
.resume a:nth-child(1) {
  padding-left: 0;
}

.resume a:nth-last-child(1)  {
  border-right: none;
}


.resume h2 {
  text-align: center;
  margin-bottom: 0.5em;
  text-decoration: underline;
  font-family: var(--solid-font);
  color: var(--yellow);
}

.resume h3 {
font-size: 1.3rem;
}

.resume section {
  /* border-bottom: 3px dashed var(--green); */
  padding: 1em 0;
  /* margin-bottom: 2em; */
}

.resume section:nth-last-child(1) {
  border-bottom: none;
}



.resume button {
  border: none;
  padding: 0.4em 0.6em;
  border-radius: 10px;
  text-align: center;
  margin: 0.2em;
  background-color: var(--accent);
  transition: all 0.5s ease;
  color: var(--white);
align-self: flex-end;
}
.resume p, .resume li {
  margin-bottom: 1em
}

.resume div {
  margin-bottom:2em;
}

.resume p:nth-last-child(1), .resume li:nth-last-child(1), .resume div:nth-last-of-type(1) {
margin-bottom: 0;
}
.resume .sectionMain {
  background-color: var(--yellow);
  padding: 2em;
}

.resume button a {
  color: var(--unset);
}
.resume li {
  list-style:circle
}

